development:
  api_token: 1e3a15810e3146dbd1f9c0b5a3fda282b3c1a665
  protocol: https
  server: circleci.com/api/v1
production:
  api_token: 3225a1f34282b0bf2dddbe598ca1f13899aa976d
  protocol: https
  server: circleci.com/api/v1
test:
  api_token: 1234
  protocol: https
  server: circleci.com/api/v1
